# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build
coredump
.cache
ffmpeg-study-recording
ffmpeg_encode*
yolov5_fastreid_deepsort_tensorrt
fast-reid
DeepSORT
deepsort-tensorrt
deepsort_bak